#header-news
  %span#header-news-catch
  %span#header-news-stats
    ボケ投稿数
    %b
      66,962,143
    件&nbsp;お題投稿数
    %b
      88,897,897
    件&nbsp;
    = link_to "#", cless: "safe-mode-btn" do
      %i.fa.fa-lg.fa-toggle-on
      &nbsp; safe on
