.content-menu
  %ul.content-menu-list.inline-list
    %li.content-menu-list-active
      = link_to "マイページ", my_path
    %li
      = link_to "設定", account_path(current_user)
    %li
      = link_to "ミュート", mute_path
    %li
      = link_to "ログアウト", destroy_user_session_path, method: :delete
