#hayo{
  float: right;
  margin-top: -175px;
  .icon{
    background-image: url("../images/bokelogo.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 50px;
    width: 400px;
    .baloon{
      position: relative;
      width: 80%;
      height: 50px;
      #hayosei{
        display: block;
        position: absolute;
        bottom: 0;
        right:0;
        #oko{
          color: red;
          font-weight: bold;
        }
        #ok{
          color: blue;
          font-weight: bold;
        }
      }
    }
  }
}
