.odai-list{
  margin:0 -8px;
  column-count:2;
  column-gap:10px;
  margin: 0 -8px;
  .pin{
    display: inline-block;
    margin: 4px;
    .odai-inner{
      margin: 0 0 20px 0;
      padding: 0;
      width: 300px;
      border-bottom:1px solid #eee;
      min-height:272px;
      .odai-photo-warapper{
        height: 100%;
      }
    }
  }
}
.odai-photo-warapper{
  margin: 5px auto;
  a{
    text-decoration: none;
    img{
      max-height: 450px;
      max-width: 450px;
    }
  }
}
.odai-meta{
  font-size: 12px;
  margin-top:5px;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.odai-photo-content-2{
  display: inline-block;
}


.boke-photo-content{
  display: inline-block;
}
.boke-photo img{
  margin-bottom: 5px;
  max-height:350px;
  border:1px solid #999;
}
.boke-photo-meta{
    text-align: right;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
  }
.boke-photo-meta a{
  text-decoration: none;
  color:#2b6bc3;
}
.boke-text{
  color: #000;
  display: block;
  font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, sans-serif;
  font-size:36px;
  font-weight: bold;
  line-height: 1.2;
  margin: 10px auto 10px;
  text-align: center;
  width: 500px;
  word-break:break-word;
}
.btn-default{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-sm{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius:3px;
}
.btn-block{
  display: block;
  width: 100%;
}
label{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-control{
  display: block;
  width: 100%;
  color: #555;
  border:1px solid #ccc;
}
.input-lg{
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius:6px;
}


.alert-create{
  border-width:2px;
  padding: 15px;
  margin-bottom:20px;
  border:1px solid;
  border-radius: 4px;
}
.alert-info{
  background-color: #fff;
  border-color:#adadad;
  color: #999;
}
.btn-lg{
  padding: 10px 16px;
  font-size: 18px;
  border-radius:6px;
}

//paginate
.pager {
  a:visited {
    color: #fff;
  }
  .current{
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    color: #fff;
    background-color: #f4c536;
    opacity: 0.5;
  }
}
