.odai-list{
  margin:0 -8px;
  column-count:2;
  column-gap:10px;
  .pin{
    display: inline-block;
    margin: 4px;
    .odai-inner{
      margin: 0 0 20px 0;
      padding: 0;
      width: 300px;
      border-bottom:1px solid #eee;
      min-height:272px;
      .odai-photo-warapper{
        height: 100%;
      }
    }
  }
}
.odai-photo-warapper{
  margin: 5px auto;
  a{
    text-decoration: none;
    img{
      max-height: 272px;
      max-width: 272px;
    }
  }
}

label{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-control{
  display: block;
  width: 100%;
  color: #555;
  border:1px solid #ccc;
}
.input-lg{
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius:6px;
}
