.odai-list{
  margin:0 -8px;
  .pin{
    display: inline-block;
    margin: 4px;
    .odai-inner{
      margin: 0 0 20px 0;
      padding: 0;
      width: 300px;
      border-bottom:1px solid #eee;
      min-height:272px;
      .odai-photo-warapper{
        height: 100%;
      }
    }
  }
}
.odai-photo-warapper{
  margin: 5px auto;
  a{
    text-decoration: none;
    img{
      min-height: 272px;
      min-width: 272px;
    }
  }
}
