.odai-list{
  margin: auto;
  .pin{
    display: inline-block;
    margin: 4px;
    img{
      width: 100%;
    }
    h3{
      font-weight: bold;
      font-size:12px;
      margin-top:10px;
      margin-bottom:0;
      b{
        text-align:right;
        display: block;
        margin: 0;
        float: right;
        a{
          text-decoration: none;
          color:#2b6bc3;
        }
      }
    }
    .odai-inner{
      margin: 0 0 20px 0;
      padding: 0;
      width: 300px;
      border-bottom:1px solid #eee;
      min-height:272px;
      .odai-photo-warapper{
        height: 100%;
      }
    }
  }
}
.odai-photo-warapper{
  margin: 5px auto;
  a{
    text-decoration: none;
    img{
      max-height: 300px;
      max-width: 300px;
      object-fit: cover;
    }
  }
}
.odai-meta{
  font-size: 12px;
  margin-top:5px;
}
.pull-left{
  float: left;
}
.btn-default{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-sm{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius:3px;
}
.btn-block{
  display: block;
  width: 100%;
}
label{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-control{
  display: block;
  width: 100%;
  color: #555;
  border:1px solid #ccc;
}
.input-lg{
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius:6px;
}
.gray-box{
  padding:20px;
  text-align:center;
  margin-bottom:20px;
}
.image-preview{
  max-height: 300px;
  max-width: 300px;
  background-color: #efefef;
}
.boke-new-form-input-radio-container{
padding-left:16px;
}
.radio-inline{
  padding-left: 20px;
  font-weight: normal;
}
.alert-create{
  border-width:2px;
  padding: 15px;
  margin-bottom:20px;
  border:1px solid;
  border-radius: 4px;
}
.alert-info{
  background-color: #fff;
  border-color:#adadad;
  color: #999;
}
.btn-lg{
  padding: 10px 16px;
  font-size: 18px;
  border-radius:6px;
}



//user_rankingページ
.user_ranking_title.user_ranking_top3{
  border:1px solid #ccc;
  border-radius:4px;
  padding:1em;
  margin-bottom:1em;
  clear: both;
}
.userranking_list-top3{
    margin-left:20px;
    display: inline;
    font-size: 16px;
    p{
      img{
        float: left;
      }
      a{
        float: left;
      }
    }
  }
ul.inline-list{
  margin:0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  li{
    padding: 0;
    margin:0 0.8em 0 0;
    display: block;
    float: left;
  }
}
